
@{
    ViewData["Title"] = "Landing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Research Page</h4>
<hr class="my-4" />
<div>
    <p>In order to view your graphs for research questions, please select your filter options</p>
</div>
<hr class="my-4" />
<h5>Select Your Filter</h5>
<br />
<h5>Province</h5>
<ul class="nav nav-pills flex-column">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Province</a>
        <div class="dropdown-menu" style="">
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Province" asp-route-id="EC">Eastern Cape</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Province" asp-route-id="FS">Free State</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Province" asp-route-id="GA">Gauteng</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Province" asp-route-id="KZ">KZN</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Province" asp-route-id="LP">Limpopo</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Province" asp-route-id="MP">Mpumalanga</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Province" asp-route-id="NC">Northern Cape</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Province" asp-route-id="NW">North West</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Province" asp-route-id="WC">Western Cape</a>
        </div>
</ul>
<hr class="my-4" />
<h5>Race</h5>
<ul class="nav nav-pills flex-column">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Race</a>
        <div class="dropdown-menu" style="">
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Race" asp-route-id="Black">Black</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Race" asp-route-id="Coloured">Coloured</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Race" asp-route-id="Indian">Indian</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Race" asp-route-id="White">White</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Race" asp-route-id="Chinese">Chinese</a>
        </div>
</ul>
<hr class="my-4" />
<h5>Gender</h5>
<ul class="nav nav-pills flex-column">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gender</a>
        <div class="dropdown-menu" style="">
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Gender">ALL</a>
        </div>
</ul>
<hr class="my-4" />
<h5>Age</h5>
<ul class="nav nav-pills flex-column">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Age</a>
        <div class="dropdown-menu" style="">
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Age" asp-route-id="16 AND 20">16-20</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Age" asp-route-id="21 AND 30">21-30</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Age" asp-route-id="31 AND 40">31-40</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Age" asp-route-id="41 AND 50">41-50</a>
            <a class="dropdown-item" asp-area="" asp-controller="Queries" asp-action="Age" asp-route-id="51 AND 60">51-60</a>
        </div>
</ul>

