
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.load('current', { 'packages': ['bar'] });


        JSONMale = '@Html.Raw(Json.Serialize(ViewBag.Male))';
        console.log(JSONMale);
        var Male = [];
        Male.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONMale), function (index, val) {
            var arrMale = [];
            arrMale.push(val.outcome);
            arrMale.push(val.count);
            Male.push(arrMale);
        });
        JSONFemale = '@Html.Raw(Json.Serialize(ViewBag.Female))';
        console.log(JSONFemale);
        var Female = [];
        Female.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONFemale), function (index, val) {
            var arrFemale = [];
            arrFemale.push(val.outcome);
            arrFemale.push(val.count);
            Female.push(arrFemale);
        });

        console.log();

        google.charts.setOnLoadCallback(drawBar);
        function drawBar() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Excluded', 'Proceed', 'Qualified', 'Not Categorised', { role: 'annotation' }],
                ['2008', 5, 1, 0, 0, ''],
                ['2009', 10, 2, 0, 0, ''],
                ['2010', 18, 5, 5, 2, ''],
                ['2011', 14, 6, 9, 0, ''],
                ['2012', 26, 7, 9, 0, ''],
                ['2013', 31, 11, 9, 1, ''],
                ['2014', 25, 13, 19, 0, ''],
                ['2015', 19, 5, 15, 2, ''],
                ['2016', 39, 6, 27, 1, ''],
                ['2017', 35, 3, 24, 4, ''],
                ['2018', 111, 56, 55, 12, '']

            ]);
            var materialOptions = {
                chart: {
                    title: 'Progression of outcomes for students in Mpumalanga',
                },

                bars: 'vertical',

            };

            var materialChart = new google.charts.Bar(document.getElementById('barGraph'));
            materialChart.draw(data, materialOptions);
        }

        google.charts.setOnLoadCallback(drawMale);
        function drawMale() {
            var data = google.visualization.arrayToDataTable(Male);
            var options = {
                title: 'Percentage of progression outcomes for Male students in Mpumalanga',
                pieHole: 0.3,
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechartMale'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawFemale);
        function drawFemale() {
            var data = google.visualization.arrayToDataTable(Female);
            var options = {
                title: 'Percentage of progression outcomes for Female students in Mpumalanga',
                pieHole: 0.3,
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechartFemale'));
            chart.draw(data, options);
        }



    </script>
</head>
<body>
    <h5>Progression of outcomes for the Province</h5><br />
    <div id="barGraph" style="width: 1000px; height: 500px;border: 1px solid #ccc"></div>
    <hr class="my-4" />
    <h5>Progression of outcomes by Gender</h5><br />
    <table class="columns">
        <tr>
            <td><div id="piechartMale" style="width: 500px; height: 300px;border: 1px solid #ccc"></div></td>
            <td><div id="piechartFemale" style="width: 500px; height: 300px;border: 1px solid #ccc"></div></td>
        </tr>
    </table>
</body>
</html> 