
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.load('current', { 'packages': ['bar'] });



        google.charts.setOnLoadCallback(drawIndian);

        function drawIndian() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Excluded', 'Proceed', 'Qualified', 'Not Categorised', { role: 'annotation' }],
                ['2008', 28, 8, 0, 5, ''],
                ['2009', 49, 8, 0, 11, ''],
                ['2010', 51, 9, 28, 12, ''],
                ['2011', 54, 18, 49, 11, ''],
                ['2012', 38, 16, 47, 6, ''],
                ['2013', 39, 9, 61, 4, ''],
                ['2014', 46, 25, 56, 5, ''],
                ['2015', 39, 16, 53, 7, ''],
                ['2016', 40, 12, 71, 5, ''],
                ['2017', 36, 7, 79, 11, ''],
                ['2018', 167, 143, 199, 53, '']

            ]);

            var materialOptions = {
                chart: {
                    title: 'Progression outcome for Indian students',
                },
                bars: 'vertical',
            };
            var materialChart = new google.charts.Bar(document.getElementById('barIndian'));
            materialChart.draw(data, materialOptions);
        }

                        JSONRace = '@Html.Raw(Json.Serialize(ViewBag.Race))';
        console.log(JSONRace);
        var Race = [];
        Race.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONRace), function (index, val) {
            var arrRace = [];
            arrRace.push(val.outcome);
            arrRace.push(val.count);
            Race.push(arrRace);
        });

        console.log();
        google.charts.setOnLoadCallback(drawRace);

        function drawRace() {
            var data = google.visualization.arrayToDataTable(Race);
            var options = {
                title: 'Percentage of progression outcomes for Indian students',
                pieHole: 0.3,
            };
            var chart = new google.visualization.PieChart(document.getElementById('pieRace'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div id="barIndian" style="width: 1000px; height: 500px;border: 1px solid #ccc"></div><br />
    <div id="pieRace" style="width: 1000px; height: 500px;border: 1px solid #ccc"></div><br />

</body>
</html> 