
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.load('current', { 'packages': ['bar'] });

        google.charts.setOnLoadCallback(drawColoured);
        function drawColoured() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Excluded', 'Proceed', 'Qualified', 'Not Categorised', { role: 'annotation' }],
                ['2008', 6, 2, 0, 1, ''],
                ['2009', 6, 5, 0, 4, ''],
                ['2010', 8, 5, 8, 2, ''],
                ['2011', 20, 6, 8, 1, ''],
                ['2012', 16, 4, 12, 2, ''],
                ['2013', 12, 6, 11, 4, ''],
                ['2014', 8, 4, 12, 0, ''],
                ['2015', 8, 4, 12, 2, ''],
                ['2016', 13, 4, 15, 2, ''],
                ['2017', 17, 1, 22, 13, ''],
                ['2018', 44, 34, 37, 23, '']

            ]);

            var materialOptions = {
                chart: {
                    title: 'Progression outcome for Coloured students',
                },
                bars: 'vertical',
            };
            var materialChart = new google.charts.Bar(document.getElementById('barColoured'));
            materialChart.draw(data, materialOptions);
        }

        JSONRace = '@Html.Raw(Json.Serialize(ViewBag.Race))';
        console.log(JSONRace);
        var Race = [];
        Race.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONRace), function (index, val) {
            var arrRace = [];
            arrRace.push(val.outcome);
            arrRace.push(val.count);
            Race.push(arrRace);
        });

        console.log();
        google.charts.setOnLoadCallback(drawRace);

        function drawRace() {
            var data = google.visualization.arrayToDataTable(Race);
            var options = {
                title: 'Percentage of progression outcomes for Coloured students',
                pieHole: 0.3,
            };
            var chart = new google.visualization.PieChart(document.getElementById('pieRace'));
            chart.draw(data, options);
        }

    </script>
</head>
<body>

    <div id="barColoured" style="width: 1000px; height: 500px;border: 1px solid #ccc"></div><br />
    <div id="pieRace" style="width: 1000px; height: 500px;border: 1px solid #ccc"></div><br />



</body>
</html> 