
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.load('current', { 'packages': ['bar'] });


        JSONMale = '@Html.Raw(Json.Serialize(ViewBag.Male))';
        console.log(JSONMale);
        var Male = [];
        Male.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONMale), function (index, val) {
            var arrMale = [];
            arrMale.push(val.outcome);
            arrMale.push(val.count);
            Male.push(arrMale);
        });
        JSONFemale = '@Html.Raw(Json.Serialize(ViewBag.Female))';
        console.log(JSONFemale);
        var Female = [];
        Female.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONFemale), function (index, val) {
            var arrFemale = [];
            arrFemale.push(val.outcome);
            arrFemale.push(val.count);
            Female.push(arrFemale);
        });

        console.log();

        google.charts.setOnLoadCallback(drawBar);
        function drawBar() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Excluded', 'Proceed', 'Qualified', 'Not Categorised', { role: 'annotation' }],
                ['2008', 1, 0, 0, 1, ''],
                ['2009', 0, 0, 0, 0, ''],
                ['2010', 1, 0, 1, 1, ''],
                ['2011', 4, 0, 2, 1, ''],
                ['2012', 3, 0, 0, 0, ''],
                ['2013', 1, 0, 2, 0, ''],
                ['2014', 3, 1, 1, 0, ''],
                ['2015', 4, 0, 4, 1, ''],
                ['2016', 8, 2, 3, 3, ''],
                ['2017', 4, 0, 2, 7, ''],
                ['2018', 17, 7, 4, 8, '']

            ]);
            var materialOptions = {
                chart: {
                    title: 'Progression outcomes for students in Western Cape',
                },

        
            };

            

            var materialChart = new google.charts.Bar(document.getElementById('barGraph'));
            materialChart.draw(data, materialOptions);
        }

        google.charts.setOnLoadCallback(drawMale);
        function drawMale() {
            var data = google.visualization.arrayToDataTable(Male);
            var options = {
                title: 'Percentage of progression outcomes for Male students in Western Cape',
                pieHole: 0.3,
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechartMale'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawFemale);
        function drawFemale() {
            var data = google.visualization.arrayToDataTable(Female);
            var options = {
                title: 'Percentage of progression outcomes for Female students in Western Cape',
                pieHole: 0.3,
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechartFemale'));
            chart.draw(data, options);
        }



    </script>
</head>
<body>
    <div id="barGraph" style="width: 1000px; height: 500px;border: 1px solid #ccc"></div>
    <br />
    <table class="columns">
        <tr>
            <td><div id="piechartMale" style="width: 500px; height: 300px;border: 1px solid #ccc"></div></td>
            <td><div id="piechartFemale" style="width: 500px; height: 300px;border: 1px solid #ccc"></div></td>
        </tr>
    </table>
</body>
</html> 