<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.load('current', { 'packages': ['bar'] });

        JSONMale = '@Html.Raw(Json.Serialize(ViewBag.Male))';
        console.log(JSONMale);
        var Male = [];
        Male.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONMale), function (index, val) {
            var arrMale = [];
            arrMale.push(val.years_In_System);
            arrMale.push(val.count);
            Male.push(arrMale);
        });
        JSONFemale = '@Html.Raw(Json.Serialize(ViewBag.Female))';
        console.log(JSONFemale);
        var Female = [];
        Female.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONFemale), function (index, val) {
            var arrFemale = [];
            arrFemale.push(val.years_In_System);
            arrFemale.push(val.count);
            Female.push(arrFemale);
        });

        JSONGen = '@Html.Raw(Json.Serialize(ViewBag.GenYears))';
        console.log(JSONGen);
        var Gen = [];
        Gen.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONGen), function (index, val) {
            var arr = [];
            arr.push(val.years_In_System);
            arr.push(val.count);
            Gen.push(arr);
        });

        google.charts.setOnLoadCallback(drawBar);
        function drawBar() {
            var data = google.visualization.arrayToDataTable([
                ['Age', 'Male', 'Female', 'U', 'Not Categorised', { role: 'annotation' }],
                ['5', 1, 0, 0, 0, ''],
                ['16', 4, 1,  0, 0, ''],
                ['17', 11, 12, 0, 0, ''],
                ['18', 263, 342,  0, 0, ''],
                ['19', 1255, 1271,  0, 1, ''],
                ['20', 770, 681,  0, 0, ''],
                ['21', 565, 509,  0, 0, ''],
                ['22', 512, 430, 0, 0, ''],
                ['23', 484, 468, 0, 0, ''],
                ['24', 472, 486,  1, 0, ''],
                ['25', 452, 435,  0, 0, '']

            ]);

            var materialOptions = {
                chart: {
                    title: 'Starting Age of Students',
                    subtitle: 'Categorised by Male & Female for Ages 5 to 25',
                },
                bars: 'vertical',
            };
            var materialChart = new google.charts.Bar(document.getElementById('age'));
            materialChart.draw(data, materialOptions);
        }

        google.charts.setOnLoadCallback(drawMale);
        function drawMale() {
            var data = google.visualization.arrayToDataTable(Male);
            var options = {
                title: 'Years in system for Males including all years',
                subtitle: 'Years in system according to Gender',
                pieHole: 0.3,
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechartMale'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawFemale);
        function drawFemale() {
            var data = google.visualization.arrayToDataTable(Female);
            var options = {
                title: 'Years in system for Females including all years',
                subtitle: 'Years in system according to Gender',
                pieHole: 0.3,
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechartFemale'));
            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawGen);
        function drawGen() {
            var data = google.visualization.arrayToDataTable(Gen);
            var options = {
                title: 'Years in system for All Years',
                subtitle: 'Years in system',
                pieHole: 0.3,
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechartGen'));
            chart.draw(data, options);
        }


    </script>
</head>
<body>
    <div id="age" style="width: 1000px; height: 500px;border: 1px solid #ccc"></div>
    <td><div id="piechartMale" style="width: 500px; height: 500px;border: 1px solid #ccc"></div></td>
    <td><div id="piechartFemale" style="width: 500px; height: 500px;border: 1px solid #ccc"></div></td>
    <td><div id="piechartGen" style="width: 500px; height: 500px;border: 1px solid #ccc"></div></td>


</body>
</html>
