
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.load('current', { 'packages': ['bar'] });


        google.charts.setOnLoadCallback(drawWhite);
        function drawWhite() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Excluded', 'Proceed', 'Qualified', 'Not Categorized', { role: 'annotation' }],
                ['2008', 29, 2, 0, 0, ''],
                ['2009', 61, 27, 0, 0, ''],
                ['2010', 53, 15, 99, 0, ''],
                ['2011', 61, 28, 98, 0, ''],
                ['2012', 51, 13, 104, 0, ''],
                ['2013', 70, 13, 107, 0, ''],
                ['2014', 62, 21, 109, 0, ''],
                ['2015', 56, 14, 113, 0, ''],
                ['2016', 63, 18, 127, 0, ''],
                ['2017', 45, 5, 119, 0, ''],
                ['2018', 148, 221, 304, 0, '']
            ]);

            var materialOptions = {
                chart: {
                    title: 'Progression outcome for White students',
                },

                bars: 'vertical',

            };

            var materialChart = new google.charts.Bar(document.getElementById('barWhite'));
            materialChart.draw(data, materialOptions);
        }
                JSONRace = '@Html.Raw(Json.Serialize(ViewBag.Race))';
        console.log(JSONRace);
        var Race = [];
        Race.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONRace), function (index, val) {
            var arrRace = [];
            arrRace.push(val.outcome);
            arrRace.push(val.count);
            Race.push(arrRace);
        });

        console.log();
        google.charts.setOnLoadCallback(drawRace);

        function drawRace() {
            var data = google.visualization.arrayToDataTable(Race);
            var options = {
                title: 'Percentage of progression outcomes for White students',
                pieHole: 0.3,
            };
            var chart = new google.visualization.PieChart(document.getElementById('pieRace'));
            chart.draw(data, options);
        }

    </script>
</head>
<body>
    <div id="barWhite" style="width: 1000px; height: 500px;border: 1px solid #ccc"></div><br />
    <div id="pieRace" style="width: 1000px; height: 500px;border: 1px solid #ccc"></div><br />

</body>
</html> 