
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.load('current', { 'packages': ['bar'] });


        JSONRace = '@Html.Raw(Json.Serialize(ViewBag.Race))';
        console.log(JSONRace);
        var Race = [];
        Race.push(['Outcome', 'Number']);
        $.each(JSON.parse(JSONRace), function (index, val) {
            var arrRace = [];
            arrRace.push(val.outcome);
            arrRace.push(val.count);
            Race.push(arrRace);
        });

        console.log();
        google.charts.setOnLoadCallback(drawRace);

        function drawRace() {
            var data = google.visualization.arrayToDataTable(Race);
            var options = {
                title: 'Percentage of progression outcomes for Chinese students',
                pieHole: 0.3,
            };
            var chart = new google.visualization.PieChart(document.getElementById('pieRace'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div id="pieRace" style="width: 1000px; height: 500px;border: 1px solid #ccc"></div><br />

</body>
</html> 