
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 120px;
        }
    </style>
</head>
<body style="background-color:#1A1818;">


    <img src="~/lib/bidegif.gif" alt="gif image" style="width:75%;">

</body>

</html>

<script type="text/javascript">
    window.setTimeout(function() {
        window.location.href = '@Url.Action("Login", "Login")';
    }, 9100);
</script>




