@{
    ViewData["Title"] = "Home Page";
}
<h4>Welcome - Username</h4>
<hr class="my-4" />
<div>
    <p>Welcome to BID-E, your business intelligence dashboard for exclusions</p>
</div>
<hr class="my-4" />



