
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.load('current', { 'packages': ['bar'] });


        google.charts.setOnLoadCallback(drawMale);
        google.charts.setOnLoadCallback(drawFemale);

        function drawMale() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Excluded', 'Proceed', 'Qualified', 'Not Categorised', { role: 'annotation' }],
                ['2008', 113, 33, 0, 31, ''],
                ['2009', 198, 34,  0, 41, ''],
                ['2010', 196, 30,  107, 45, ''],
                ['2011', 238, 41,  113, 50, ''],
                ['2012', 244, 50,  129, 33, ''],
                ['2013', 268, 69,  155, 37, ''],
                ['2014', 274, 86,  174, 26, ''],
                ['2015', 230, 61,  203, 27, ''],
                ['2016', 358, 70, 244, 48, ''],
                ['2017', 293, 34,  276, 113, ''],
                ['2018', 1024, 659,  599, 406, '']
                
            ]);

            var materialOptions = {
                colors: ['#DC3912', '#3366CC', '#109618', '#FF9900'],
                bars: 'vertical',
            };
            var materialChart = new google.charts.Bar(document.getElementById('barMale'));
            materialChart.draw(data, materialOptions);
        }

        function drawFemale() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Excluded', 'Proceed', 'Qualified', 'Not Categorised', { role: 'annotation' }],
                ['2008', 90, 26, 0, 17, ''],
                ['2009', 172, 40, 0, 43, ''],
                ['2010', 149, 42, 141, 43, ''],
                ['2011', 180, 59, 161, 44, ''],
                ['2012', 173, 38, 176, 30, ''],
                ['2013', 212, 35, 61, 223, ''],
                ['2014', 196, 71, 56, 240, ''],
                ['2015', 152, 45, 53, 240, ''],
                ['2016', 206, 51, 71, 310, ''],
                ['2017', 200, 28, 79, 313, ''],
                ['2018', 770, 646, 660, 403, '']

            ]);

            var materialOptions = {
                colors: ['#DC3912', '#3366CC', '#109618', '#FF9900'],
                bars: 'vertical',
            };
            var materialChart = new google.charts.Bar(document.getElementById('barFemale'));
            materialChart.draw(data, materialOptions);
        }
    </script>
</head>
<body>
    <h3>GENDER</h3>
    <hr class="my-4" />
    <h5>Progression outcomes for Males</h5><br />
    <div id="barMale" style="width: 1100px; height: 500px;"></div>
    <hr class="my-4" />
    <h5>Progression outcomes for Females</h5><br />
    <div id="barFemale" style="width: 1100px; height: 500px;"></div>
    <hr class="my-4" /><br />
    <button class="btn btn-dark" type="button" onclick="location.href='@Url.Action("Landing", "Queries")'">Return</button>
</body>
</html> 